In [2]:
import numpy as np 
import pandas as pd
import feather
import plotly
import plotly.graph_objects as go
import gc

pd.options.display.max_rows = 100


import sys
sys.path.insert(0, "/home/jupyter/kaggle/energy/src")
import utility

In [5]:
train_df, _, _, _, _ = utility.read_data(utility.CREATED_DATA_DIR, train=True, test=False, weather_train=False, weather_test=False, building=False)

Reading Data...
Shape of train_df : (20216100, 16)

/home/jupyter/anaconda3/envs/py37/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning:

.labels was deprecated in version 0.24.0. Use .codes instead.

In [6]:
train_df.columns

Index(['site_id', 'building_id', 'timestamp', 'meter', 'primary_use',
       'square_feet', 'year_built', 'floor_count', 'air_temperature',
       'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr',
       'sea_level_pressure', 'wind_direction', 'wind_speed', 'meter_reading'],
      dtype='object')

In [7]:
# Get the data for site_id 0 only
train_df_site_0 = train_df[train_df.site_id == 0]

## Electrical Meter

### May 1 seems to be an outlier. Check if all the buildings have the peak

In [8]:
building_ids = train_df_site_0.building_id.unique()

# May 1 seems to be an outlier. Check if all the buildings have the peak
# Building 40, 45, 29 doesn't have
for id in building_ids:
    temp = train_df_site_0[train_df_site_0.building_id == id]
    meter_reading_sum = temp[(temp.timestamp >= np.datetime64('2016-05-01')) 
                             & (temp.timestamp < np.datetime64('2016-05-02')) 
                             & (temp.meter == 0)]['meter_reading'].sum()
    print(f'For building {id} meter_reading on 1 st May 2016 is {meter_reading_sum}')

For building 0 meter_reading on 1 st May 2016 is 448.0
For building 1 meter_reading on 1 st May 2016 is 317.79559326171875
For building 2 meter_reading on 1 st May 2016 is 40.0
For building 3 meter_reading on 1 st May 2016 is 937.0
For building 4 meter_reading on 1 st May 2016 is 3592.0
For building 5 meter_reading on 1 st May 2016 is 54.0
For building 6 meter_reading on 1 st May 2016 is 214.0
For building 7 meter_reading on 1 st May 2016 is 1160.0
For building 8 meter_reading on 1 st May 2016 is 749.0
For building 9 meter_reading on 1 st May 2016 is 223.0
For building 10 meter_reading on 1 st May 2016 is 3289.0
For building 11 meter_reading on 1 st May 2016 is 1052.0
For building 12 meter_reading on 1 st May 2016 is 356.0
For building 13 meter_reading on 1 st May 2016 is 742.0
For building 14 meter_reading on 1 st May 2016 is 872.0
For building 15 meter_reading on 1 st May 2016 is 571.0
For building 16 meter_reading on 1 st May 2016 is 2870.0
For building 17 meter_reading on 1 st May 2016 is 229.0
For building 18 meter_reading on 1 st May 2016 is 4521.0
For building 19 meter_reading on 1 st May 2016 is 443.0
For building 20 meter_reading on 1 st May 2016 is 1121.0
For building 21 meter_reading on 1 st May 2016 is 181.0
For building 22 meter_reading on 1 st May 2016 is 38.0
For building 23 meter_reading on 1 st May 2016 is 1950.0
For building 24 meter_reading on 1 st May 2016 is 2292.0
For building 25 meter_reading on 1 st May 2016 is 767.0
For building 26 meter_reading on 1 st May 2016 is 352.0
For building 27 meter_reading on 1 st May 2016 is 657.0
For building 28 meter_reading on 1 st May 2016 is 483.0
For building 30 meter_reading on 1 st May 2016 is 1049.0
For building 31 meter_reading on 1 st May 2016 is 1005.0
For building 32 meter_reading on 1 st May 2016 is 732.0
For building 33 meter_reading on 1 st May 2016 is 1017.0
For building 34 meter_reading on 1 st May 2016 is 499.0
For building 35 meter_reading on 1 st May 2016 is 432.0
For building 36 meter_reading on 1 st May 2016 is 324.0
For building 37 meter_reading on 1 st May 2016 is 345.0
For building 38 meter_reading on 1 st May 2016 is 879.0
For building 39 meter_reading on 1 st May 2016 is 739.0
For building 40 meter_reading on 1 st May 2016 is 0.0
For building 41 meter_reading on 1 st May 2016 is 447.0
For building 42 meter_reading on 1 st May 2016 is 2770.0
For building 43 meter_reading on 1 st May 2016 is 201.0
For building 44 meter_reading on 1 st May 2016 is 13.0
For building 45 meter_reading on 1 st May 2016 is 0.0
For building 46 meter_reading on 1 st May 2016 is 283.0
For building 47 meter_reading on 1 st May 2016 is 861.0
For building 49 meter_reading on 1 st May 2016 is 312.0
For building 50 meter_reading on 1 st May 2016 is 80.0
For building 51 meter_reading on 1 st May 2016 is 187.0
For building 52 meter_reading on 1 st May 2016 is 1112.0830078125
For building 53 meter_reading on 1 st May 2016 is 2079.944091796875
For building 54 meter_reading on 1 st May 2016 is 1410.760009765625
For building 55 meter_reading on 1 st May 2016 is 264.0
For building 56 meter_reading on 1 st May 2016 is 364.0
For building 57 meter_reading on 1 st May 2016 is 698.0
For building 58 meter_reading on 1 st May 2016 is 650.0
For building 59 meter_reading on 1 st May 2016 is 268.0
For building 60 meter_reading on 1 st May 2016 is 1674.0
For building 61 meter_reading on 1 st May 2016 is 466.0
For building 62 meter_reading on 1 st May 2016 is 956.0
For building 63 meter_reading on 1 st May 2016 is 396.0
For building 64 meter_reading on 1 st May 2016 is 240.0
For building 65 meter_reading on 1 st May 2016 is 315.0
For building 66 meter_reading on 1 st May 2016 is 300.0
For building 67 meter_reading on 1 st May 2016 is 388.0
For building 68 meter_reading on 1 st May 2016 is 295.0
For building 69 meter_reading on 1 st May 2016 is 135.9241943359375
For building 70 meter_reading on 1 st May 2016 is 97.0
For building 71 meter_reading on 1 st May 2016 is 226.0
For building 72 meter_reading on 1 st May 2016 is 325.0
For building 73 meter_reading on 1 st May 2016 is 87.0
For building 74 meter_reading on 1 st May 2016 is 268.0
For building 75 meter_reading on 1 st May 2016 is 568.0
For building 76 meter_reading on 1 st May 2016 is 3592.0
For building 77 meter_reading on 1 st May 2016 is 377.0
For building 78 meter_reading on 1 st May 2016 is 681.0
For building 79 meter_reading on 1 st May 2016 is 1207.0
For building 80 meter_reading on 1 st May 2016 is 3704.0
For building 81 meter_reading on 1 st May 2016 is 31.0
For building 82 meter_reading on 1 st May 2016 is 110.0
For building 83 meter_reading on 1 st May 2016 is 13.0
For building 84 meter_reading on 1 st May 2016 is 52.0
For building 85 meter_reading on 1 st May 2016 is 256.0
For building 86 meter_reading on 1 st May 2016 is 220.0
For building 87 meter_reading on 1 st May 2016 is 204.0
For building 88 meter_reading on 1 st May 2016 is 1538.0
For building 89 meter_reading on 1 st May 2016 is 3202.0
For building 90 meter_reading on 1 st May 2016 is 734.0
For building 91 meter_reading on 1 st May 2016 is 1083.558349609375
For building 92 meter_reading on 1 st May 2016 is 159.0
For building 93 meter_reading on 1 st May 2016 is 396.0
For building 94 meter_reading on 1 st May 2016 is 179.0
For building 95 meter_reading on 1 st May 2016 is 1386.0
For building 96 meter_reading on 1 st May 2016 is 1422.4508056640625
For building 97 meter_reading on 1 st May 2016 is 974.0
For building 98 meter_reading on 1 st May 2016 is 1199.0
For building 99 meter_reading on 1 st May 2016 is 35.0
For building 100 meter_reading on 1 st May 2016 is 344.0
For building 101 meter_reading on 1 st May 2016 is 238.0
For building 102 meter_reading on 1 st May 2016 is 299.0
For building 103 meter_reading on 1 st May 2016 is 163.09860229492188
For building 104 meter_reading on 1 st May 2016 is 812.0
For building 29 meter_reading on 1 st May 2016 is 0.0
For building 48 meter_reading on 1 st May 2016 is 191.0

### Check if May 20 have zero reading for any the building?

In [108]:
building_ids = train_df_site_0.building_id.unique()
# Check if May 20 have zero reading for any the building?
# Building 29, 40, 45, 53 have it
for id in building_ids:
    temp = train_df_site_0[train_df_site_0.building_id == id]
    meter_reading_sum = temp[((temp.timestamp >= np.datetime64('2016-05-20')) 
                              & (temp.timestamp < np.datetime64('2016-05-21')) 
                              & (temp.meter == 0))]['meter_reading'].sum()

    if (meter_reading_sum <= 0):
        print(f'For building {id} meter_reading on 19th May 2016 is {meter_reading_sum}')

For building 40 meter_reading on 19th May 2016 is 0.0
For building 45 meter_reading on 19th May 2016 is 0.0
For building 53 meter_reading on 19th May 2016 is 0.0
For building 29 meter_reading on 19th May 2016 is 0.0

### For these three buildings on which date the meter reading started?

In [12]:
# Check building 40
# From June 3rd 11 AM onwards there is data
utility.get_non_zero_meter_reading_timestamp(train_df_site_0, 
                                     building_id=40, 
                                     start_time='2016-06-03 00:00:00', 
                                     stop_time='2016-06-04 00:00:00')

Timestamp('2016-06-03 11:00:00')

In [14]:
# Check building 45
# From June 30th 13 HRS onwards there is data
utility.get_non_zero_meter_reading_timestamp(train_df_site_0, 
                                     building_id=45, 
                                     start_time='2016-06-30 00:00:00', 
                                     stop_time='2016-07-01 00:00:00')

Timestamp('2016-06-30 13:00:00')

In [15]:
# Check building 29
# From Aug 10th 00 HRS onwards there is data
utility.get_non_zero_meter_reading_timestamp(train_df_site_0, 
                                     building_id=29, 
                                     start_time='2016-08-10 00:00:00', 
                                     stop_time='2016-08-11 00:00:00')

Timestamp('2016-08-10 00:00:00')

In [16]:
# TODO : What to do for building 53?
# Based on the visualization, don't do anything with the Building 53 data

In [18]:
# Test code : Check the meter reading for a particular building
# for a particular day. This is just to make sure if the above 
# non-zero meter readings are correct or not
train_df_site_0[(train_df_site_0.building_id == 29) 
                & (train_df_site_0.timestamp >= np.datetime64('2016-08-10 00:00:00')) 
                & (train_df_site_0.timestamp < np.datetime64('2016-08-11 00:00:00')) & (train_df_site_0.meter == 0)]

,site_id,building_id,timestamp,meter,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,meter_reading
12136743,0,29,2016-08-10 00:00:00,0,Education,113866,2006,99,25.000000,8.0,22.799999,-1.0,1018.500000,130.0,3.6,455.268005
12139004,0,29,2016-08-10 01:00:00,0,Education,113866,2006,99,23.900000,NaN,22.200001,3.0,1018.700012,150.0,4.1,410.218994
12141262,0,29,2016-08-10 02:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,-1.0,1019.500000,170.0,5.7,367.217010
12143523,0,29,2016-08-10 03:00:00,0,Education,113866,2006,99,23.900000,NaN,22.200001,-1.0,1019.599976,150.0,3.6,375.066986
12145785,0,29,2016-08-10 04:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,-1.0,1019.000000,120.0,1.5,376.773010
12148042,0,29,2016-08-10 05:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,-1.0,1018.799988,220.0,2.6,374.384003
12150305,0,29,2016-08-10 06:00:00,0,Education,113866,2006,99,23.900000,8.0,22.799999,-1.0,1018.099976,180.0,2.6,413.972992
12152566,0,29,2016-08-10 07:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,0.0,1018.299988,160.0,2.6,451.171997
12154828,0,29,2016-08-10 08:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,0.0,1018.000000,170.0,1.5,534.103027
12157091,0,29,2016-08-10 09:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,0.0,1018.000000,150.0,2.1,702.354980
12159352,0,29,2016-08-10 10:00:00,0,Education,113866,2006,99,23.900000,NaN,22.799999,0.0,1017.700012,100.0,1.5,846.716003
12161615,0,29,2016-08-10 11:00:00,0,Education,113866,2006,99,23.900000,4.0,22.200001,0.0,1018.400024,80.0,3.1,922.138977
12163871,0,29,2016-08-10 12:00:00,0,Education,113866,2006,99,24.400000,4.0,22.799999,0.0,1019.099976,90.0,1.5,946.369995
12166131,0,29,2016-08-10 13:00:00,0,Education,113866,2006,99,26.700001,4.0,23.299999,0.0,1019.700012,130.0,3.6,976.060974
12168387,0,29,2016-08-10 14:00:00,0,Education,113866,2006,99,27.799999,NaN,23.299999,0.0,1020.000000,140.0,2.1,990.395020
12170642,0,29,2016-08-10 15:00:00,0,Education,113866,2006,99,29.400000,NaN,24.400000,0.0,1020.400024,80.0,2.1,1007.799988
12172899,0,29,2016-08-10 16:00:00,0,Education,113866,2006,99,30.600000,NaN,24.400000,0.0,1020.400024,190.0,3.1,1037.829956
12175155,0,29,2016-08-10 17:00:00,0,Education,113866,2006,99,31.100000,NaN,23.900000,0.0,1020.000000,180.0,5.7,1020.090027
12177414,0,29,2016-08-10 18:00:00,0,Education,113866,2006,99,31.100000,6.0,22.200001,0.0,1019.299988,160.0,2.6,1061.040039
12179672,0,29,2016-08-10 19:00:00,0,Education,113866,2006,99,26.100000,NaN,22.799999,27.0,NaN,100.0,10.3,996.538025
12181931,0,29,2016-08-10 20:00:00,0,Education,113866,2006,99,26.100000,NaN,23.900000,56.0,1019.500000,100.0,5.7,1052.849976
12184190,0,29,2016-08-10 21:00:00,0,Education,113866,2006,99,26.100000,NaN,23.900000,-1.0,1019.500000,60.0,3.6,1053.869995
12186448,0,29,2016-08-10 22:00:00,0,Education,113866,2006,99,26.700001,NaN,23.900000,0.0,1018.299988,100.0,3.1,938.179016
12188708,0,29,2016-08-10 23:00:00,0,Education,113866,2006,99,27.799999,NaN,23.900000,0.0,1017.900024,80.0,2.1,737.164978

In [128]:
# Test code : Check for a particular building
train_df_site_0[(train_df_site_0.building_id == 53) 
                & (train_df_site_0.timestamp >= np.datetime64('2016-07-01 00:00:00')) & (train_df_site_0.meter == 0)]

,site_id,building_id,timestamp,meter,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,meter_reading
8424928,0,53,2016-06-04 20:00:00,0,Office,87742,1971,99,33.900002,NaN,19.400000,0.0,1014.000000,140.0,3.1,383.325989
8427273,0,53,2016-06-04 21:00:00,0,Office,87742,1971,99,32.799999,NaN,21.700001,0.0,1013.500000,110.0,7.2,194.938995
8429617,0,53,2016-06-04 22:00:00,0,Office,87742,1971,99,32.200001,4.0,20.600000,0.0,1013.200012,110.0,6.7,0.000000
8431963,0,53,2016-06-04 23:00:00,0,Office,87742,1971,99,31.100000,4.0,20.600000,0.0,1013.200012,110.0,7.2,0.000000
8434310,0,53,2016-06-05 00:00:00,0,Office,87742,1971,99,29.400000,4.0,21.100000,0.0,1013.700012,110.0,7.2,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19243377,0,53,2016-12-14 20:00:00,0,Office,87742,1971,99,27.799999,NaN,16.100000,0.0,1016.400024,270.0,4.6,0.000000
19245742,0,53,2016-12-14 21:00:00,0,Office,87742,1971,99,27.200001,NaN,16.700001,0.0,1016.299988,250.0,3.6,0.000000
19248108,0,53,2016-12-14 22:00:00,0,Office,87742,1971,99,26.700001,4.0,16.700001,0.0,1016.200012,260.0,4.1,0.000000
19250474,0,53,2016-12-14 23:00:00,0,Office,87742,1971,99,23.900000,NaN,16.700001,0.0,1016.000000,230.0,2.1,0.000000
19252840,0,53,2016-12-15 00:00:00,0,Office,87742,1971,99,22.799999,2.0,16.700001,0.0,1016.400024,240.0,2.1,0.000000

In [21]:
# On May 20th at what time, the meter reading started

# I already know that building 40, 45, 53 does not start at 20th May
# Building 29 - Aug 10th 00 HRS
# Building 40 - June 3rd 11 AM
# Building 45 - June 30th 13 HRS onwards
# Building 53 - Don't do anything

building_ids = list(train_df_site_0.building_id.unique())
building_ids.remove(29)
building_ids.remove(40)
building_ids.remove(45)
building_ids.remove(53)

# Let's assume for other buildings it starts at May 20th
# Print the time from which meter reading has non-zero values
for id_ in building_ids:
    stamp = utility.get_non_zero_meter_reading_timestamp(train_df_site_0, 
                                         building_id=id_, 
                                         start_time='2016-05-20 00:00:00',
                                         stop_time='2016-05-21 00:00:00')
    print(f' building id : {id_} : {stamp}')

 building id : 0 : 2016-05-20 18:00:00
 building id : 1 : 2016-05-20 10:00:00
 building id : 2 : 2016-05-20 18:00:00
 building id : 3 : 2016-05-20 18:00:00
 building id : 4 : 2016-05-20 18:00:00
 building id : 5 : 2016-05-20 18:00:00
 building id : 6 : 2016-05-20 18:00:00
 building id : 7 : 2016-05-20 18:00:00
 building id : 8 : 2016-05-20 18:00:00
 building id : 9 : 2016-05-20 18:00:00
 building id : 10 : 2016-05-20 18:00:00
 building id : 11 : 2016-05-20 18:00:00
 building id : 12 : 2016-05-20 18:00:00
 building id : 13 : 2016-05-20 18:00:00
 building id : 14 : 2016-05-20 18:00:00
 building id : 15 : 2016-05-20 18:00:00
 building id : 16 : 2016-05-20 18:00:00
 building id : 17 : 2016-05-20 18:00:00
 building id : 18 : 2016-05-20 18:00:00
 building id : 19 : 2016-05-20 18:00:00
 building id : 20 : 2016-05-20 18:00:00
 building id : 21 : 2016-05-20 18:00:00
 building id : 22 : 2016-05-20 18:00:00
 building id : 23 : 2016-05-20 18:00:00
 building id : 24 : 2016-05-20 18:00:00
 building id : 25 : 2016-05-20 18:00:00
 building id : 26 : 2016-05-20 18:00:00
 building id : 27 : 2016-05-20 18:00:00
 building id : 28 : 2016-05-20 18:00:00
 building id : 30 : 2016-05-20 18:00:00
 building id : 31 : 2016-05-20 18:00:00
 building id : 32 : 2016-05-20 18:00:00
 building id : 33 : 2016-05-20 18:00:00
 building id : 34 : 2016-05-20 18:00:00
 building id : 35 : 2016-05-20 18:00:00
 building id : 36 : 2016-05-20 18:00:00
 building id : 37 : 2016-05-20 18:00:00
 building id : 38 : 2016-05-20 18:00:00
 building id : 39 : 2016-05-20 18:00:00
 building id : 41 : 2016-05-20 18:00:00
 building id : 42 : 2016-05-20 18:00:00
 building id : 43 : 2016-05-20 18:00:00
 building id : 44 : 2016-05-20 18:00:00
 building id : 46 : 2016-05-20 18:00:00
 building id : 47 : 2016-05-20 18:00:00
 building id : 49 : 2016-05-20 18:00:00
 building id : 50 : 2016-05-20 18:00:00
 building id : 51 : 2016-05-20 18:00:00
 building id : 52 : 2016-05-20 17:00:00
 building id : 54 : 2016-05-20 16:00:00
 building id : 55 : 2016-05-20 18:00:00
 building id : 56 : 2016-05-20 18:00:00
 building id : 57 : 2016-05-20 18:00:00
 building id : 58 : 2016-05-20 18:00:00
 building id : 59 : 2016-05-20 18:00:00
 building id : 60 : 2016-05-20 18:00:00
 building id : 61 : 2016-05-20 18:00:00
 building id : 62 : 2016-05-20 18:00:00
 building id : 63 : 2016-05-20 18:00:00
 building id : 64 : 2016-05-20 18:00:00
 building id : 65 : 2016-05-20 18:00:00
 building id : 66 : 2016-05-20 18:00:00
 building id : 67 : 2016-05-20 18:00:00
 building id : 68 : 2016-05-20 18:00:00
 building id : 69 : 2016-05-20 14:00:00
 building id : 70 : 2016-05-20 18:00:00
 building id : 71 : 2016-05-20 18:00:00
 building id : 72 : 2016-05-20 18:00:00
 building id : 73 : 2016-05-20 18:00:00
 building id : 74 : 2016-05-20 18:00:00
 building id : 75 : 2016-05-20 18:00:00
 building id : 76 : 2016-05-20 18:00:00
 building id : 77 : 2016-05-20 18:00:00
 building id : 78 : 2016-05-20 18:00:00
 building id : 79 : 2016-05-20 18:00:00
 building id : 80 : 2016-05-20 18:00:00
 building id : 81 : 2016-05-20 18:00:00
 building id : 82 : 2016-05-20 18:00:00
 building id : 83 : 2016-05-20 18:00:00
 building id : 84 : 2016-05-20 18:00:00
 building id : 85 : 2016-05-20 18:00:00
 building id : 86 : 2016-05-20 18:00:00
 building id : 87 : 2016-05-20 18:00:00
 building id : 88 : 2016-05-20 18:00:00
 building id : 89 : 2016-05-20 18:00:00
 building id : 90 : 2016-05-20 18:00:00
 building id : 91 : 2016-05-20 18:00:00
 building id : 92 : 2016-05-20 18:00:00
 building id : 93 : 2016-05-20 18:00:00
 building id : 94 : 2016-05-20 18:00:00
 building id : 95 : 2016-05-20 04:00:00
 building id : 96 : 2016-05-20 06:00:00
 building id : 97 : 2016-05-20 18:00:00
 building id : 98 : 2016-05-20 18:00:00
 building id : 99 : 2016-05-20 18:00:00
 building id : 100 : 2016-05-20 18:00:00
 building id : 101 : 2016-05-20 18:00:00
 building id : 102 : 2016-05-20 18:00:00
 building id : 103 : 2016-05-20 02:00:00
 building id : 104 : 2016-05-20 18:00:00
 building id : 48 : 2016-05-20 18:00:00

## Chilled Water Meter

In [133]:
# Buildings which have chilled water meter
train_df_site_0[train_df_site_0.meter == 1].building_id.unique()

array([  7,   9,  13,  14,  15,  29,  30,  31,  43,  50,  55,  60,  75,
        76,  78,  82,  91,  92,  95,  96,  97, 103,  28,  98],
      dtype=uint64)

Look into 
60 - Outlier and initial zeros (Aligned with electricity)?
82 - Looks different?
92 - Looks different?
95 - Check the gap?
103 - outlier
98 - long gap?

In [ ]:
train_df_site_0[(train_df_site_0.building_id == 60) 
                & (train_df_site_0.timestamp >= np.datetime64('2016-08-10 00:00:00')) 
                & (train_df_site_0.timestamp < np.datetime64('2016-08-11 00:00:00')) & (train_df_site_0.meter == 0)].head(2)